<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>scythings.xyz</title>
</head>
<body>
    <header class="bg-dark text-white">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">@scythings.xyz</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="discords">Discords</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="guilds">Guilds</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
        <div class="text-center mb-4">
            <h1>Welcome to scythings</h1>
            <p>Discords:</p>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://cdn.discordapp.com/icons/1287138435596947516/baaea6bbef74eb0ca56e7330f871a77a.webp?size=1024&format=webp&width=0&height=256" class="card-img-top" alt="Feature Image">
                    <div class="card-body">
                        <h5 class="card-title">scythings.xyz</h5>
                        <p class="card-text">https://discord.gg/scythings</p>
                        <a href="#" class="btn btn-primary">scythings</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://cdn.discordapp.com/icons/1268107566291091569/f3a528cd285f988ccce31e7a7b720e5b.webp?size=1024&format=webp&width=0&height=256" class="card-img-top" alt="Feature Image">
                    <div class="card-body">
                        <h5 class="card-title">R6 Scrims: Zen TenMans / Scrims</h5>
                        <p class="card-text">https://discord.gg/NNU9XVp7FK</p>
                        <a href="#" class="btn btn-primary">scythings</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024 scythings.xyz</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
